/*
	A simple CSS style sheet for dressing up our Sokoban Clone.
*/

body { 
margin: 0px 20px 0px 20px; 
}

h1#main_title {
    border : 16px solid #808080;
    color: #7F0000;
    font-family:Arial;
	font-weight: bold;
    width:1000;
    font-size:2.5em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border-color: #0066CC;
	color: rgb(255, 0, 0);
	background-color: rgb(126, 126, 126);
}

div#main_text {
    border : 16px solid #808080;
    color: #7F0000;
    font-family:Arial;
	font-weight: bold;
    width:1000;
    font-size:1.25em;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	margin-left: auto;
	border-color: #0066CC;
	color: rgb(0, 0, 0);
	background-color: rgb(126, 126, 126);
}

div#sokoban_rules {
	border: 8px solid rgb(255, 0, 0);
	font-family:Arial;
	width:700;
	margin-right: auto;
	margin-left: auto;
	font-weight: bold;
	color: rgb(255, 255, 255);
	background-color: rgb(0, 0, 0);
}

div#audio_block {
	display: table;
	margin: 0 auto;
}

p { 
	text-indent: 60px;
}

p#game_link {
	text-indent: 0px;
	margin-left: auto;
	margin-right: auto;
}

body {
	background-color: rgb(0, 0, 0);
}

